<!DOCTYPE html>
<html lang="en">
<head>

    <style>

body{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


background-color: skyblue;
font-family: Verdana;
color: #fff;
padding: 30px;

}

h1{

font-size: 48px;
text-transform: uppercase;
letter-spacing: 2px;
text-align: center ;
}

p{

font-size: 16px;
text-align: center;
}

form{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
    </style>

</head>
<body>

    <%- include ('partials/nav.ejs') -%>



    <h1 style="color: green;">Successs!!!</h1>

    <p> Contacted <%= data.who %></p>
    <p>Department <%= data.department %></p>
    <p>email <%= data.email %></p>
  

</body>
</html>